bak
*.bak
sav
*.sav
tmp
*.tmp
*.obj
*.tds
*.pdb
*.idb
*.suo
*.exe
*.map
*.o
*.d
*.sdf
*.opensdf
*.db
*.ods
*.err
.vs
*.log
*.tlog
*.ilk
err.txt
*.user
*.ncb
win32_Debug_*
win32_Release_*
x64_Debug_*
x64_Release_*
set_objs.bat
