*.~*
*.bak
*.tmp
*.sav
*.err
err.txt
err_*
tmp_*
sav_*
obj_*
my_*
bak
tmp
sav
*.t
*.o
obj
*.obj
*.db
*.pdb
*.ipdb
*.ilk
*.idb
*.suo
*.tlog
*.log
.vs
*.sdf
*.opensdf
*.opendb
*.user
Release
Debug
build/*.exe
cmake
sample/*.exe
#*
#.vscode
*.exe
a.out

*.lib

backup
.backup

__pycache__/
*.py[cod]
.mypy_cache/

# tool build dirs
tools/*/build/

/ccwrap/test/result_c_test/*/
/ccwrap/test/result_cxx_test/*/
test/result_c_test/*/
test/result_cxx_test/*/
!/ccwrap/test/result_c_test/spec/
!/ccwrap/test/result_cxx_test/spec/
!test/result_c_test/spec/
!test/result_cxx_test/spec/
!/ccwrap/test/result_c_test/base/
!/ccwrap/test/result_cxx_test/base/
!test/result_c_test/base/
!test/result_cxx_test/base/

test/test/

# libc++ conformance harness: an external lit checkout and its run artefacts
test/etc_test/libcxx_lit/_lit/
test/etc_test/libcxx_lit/_work/

*-b32-c*/
*-b64-c*/
*-b32-cxx*/
*-b64-cxx*/



!detail/llibcxx03/test/libcxx/time/time.zone/time.zone.db
!detail/llibcxx03/test/std/time/time.zone/time.zone.db
!detail/llibcxx03/test/libcxx/debug
!detail/llibcxx03/test/libcxx/numerics/rand/rand.dist/rand.dist.norm/rand.dist.norm.f
!detail/llibcxx03/test/libcxx/numerics/rand/rand.dist/rand.dist.norm/rand.dist.norm.t
!detail/llibcxx03/test/std/numerics/rand/rand.dist/rand.dist.norm/rand.dist.norm.t
!detail/llibcxx03/test/std/numerics/rand/rand.dist/rand.dist.norm/rand.dist.norm.f
!detail/llibcxx03/test/std/numerics/rand/rand.dist/rand.dist.pois/rand.dist.pois.exp
!detail/llibcxx03/test/libcxx/numerics/rand/rand.dist/rand.dist.pois/rand.dist.pois.exp
!detail/llibcxx03/test/std/re/re.const/re.err

